<div class="row pt-3 px-3 pb-5">
  <h6>Learning Objectives:</h6>
  <p>This is a very short description of the course. This is a very short description of the course. This is a very short description of the
    course. It is another description of this course. It is another description of this course. It is another description of this course.
    Here you can find all the important details about his course. Please go through this description. It is just a dummy text here. If
    You enroll, pay. Here you can find all the important details about his course. Please go through this description. It is just a dummy
    text here. If you enroll, pay. Here you can find all the important details about his course. Please go through this description. It is
    just a dummy text here. If you enroll, pay. This a very long description of the course, because you are already enrolled to this
    course and congratulation. This a very long description of the course, because you are already enrolled to this course and
    text here. If you enroll, pay.
    Here you can find all the important details about his course. Please go through this description. It is
    just a dummy text here. If you enroll, pay. This a very long description of the course, because you are already enrolled to this
    course and congratulation.
    </p>
    <p>This a very long description of the course, because you are already enrolled to this course and
      congratulation.
      Here you can find all the important details about his course. Please go through this description. It is
      just a dummy text here. If you enroll, pay. This a very long description of the course, because you are already enrolled to this
      course and congratulation.</p>
</div>
