<div class="card shadow-sm">
  <img class="card-img-top" [src]="data.imgURL">
  <div class="card-body py-2">
    <h6 class="mb-1"> {{ data.name }} </h6>
    <p *ngIf="data.enrollmentDate" class="mb-2"><span class="font-weight-bold">Enrolled on: </span> {{ data.enrollmentDate }} </p>
    <p *ngIf="data.issueDate" class="mb-2"><span class="font-weight-bold">Issued on: </span> {{ data.issueDate }} </p>
    <p *ngIf="data.price"  class="mb-2"><span class="font-weight-bold">Price:</span> {{ data.price }} </p>
    <button class="btn primary-cl" [routerLink]="data.url"> {{ data.btnText }} </button>
  </div>
</div>
