<div *ngIf="!hasRoute('admin') && !hasRoute('classes')" class="row text-center primary-cl py-1">
  <div class="col-md-4">
    <p class="my-0">We offer the best business practical trainings</p>
  </div>
  <div class="col-md-4">
    <ul class="list-inline mb-0">
      <li class="list-inline-item px-2"><a routerLink="classes" class="small">All Trainings</a></li>
      <li class="list-inline-item px-2"><a routerLink="" class="small">Students Forum</a></li>
      <li class="list-inline-item px-2"><a target ="_blank" href="https://fanoos.af/" class="small">About</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <a target="_blank" href="https://www.facebook.com/fanoosacc"><i class="bi bi-facebook px-2"></i></a>
    <a target="_blank" href="https://twitter.com/FanoosAccounti2"><i class="bi bi-twitter px-2"></i></a>
    <a target="_blank" href="https://www.linkedin.com/company/fanoosaccounting/"><i class="bi bi-linkedin px-2"></i></a>
    <a target="_blank" href="https://www.youtube.com/user/MultiAseman"><i class="bi bi-youtube px-2"></i></a>
  </div>
</div>
<nav class="navbar navbar-dark">
  <span class="navbar-brand ml-5">
    <a target ="_blank" href="https://fanoos.af/">
      <img src="../../../../assets/icons/fanoos.png" height="30" class="d-inline-block align-top" alt="">
    </a>
    <span class="ml-3"><a routerLink="/">Fanoos Training Management System</a></span>
  </span>
  <div class="mr-5">
    <a *ngIf="!isAuthenticated" class="link" routerLink="authentication">Login/Register</a>
    <a target="_blank" href="https://api.whatsapp.com/send?phone=0093704995790">
      <p class="d-inline px-3 color">+93704995790</p>
      <i class="bi bi-whatsapp mr-3"></i>
    </a>

  </div>
</nav>
