input.ng-invalid.ng-touched {
  border: 1px solid red;
}

form .form-text {
  color: red;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 200px;
  width: 200px;
}

.image-preview img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
