.primary-cl {
  color: white;
}

td a {
  color: rgb(255, 166, 49);;
}
thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

span {
    visibility: hidden;
}

th.active span {
  visibility: visible;
}
