<h4 class="text-center pt-4 pb-2">Students List</h4>
<div class="row">
  <div class="col-md-10 offset-md-1" id="table">
    <div class="row pt-3 pb-4">
      <div class="col-12">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
          [(ngModel)]="search">
      </div>
    </div>
    <div *ngIf="isLoading" class="text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <table class="table" *ngIf="!isLoading">
      <thead class="primary-cl">
        <tr>
          <th scope="col">No</th>
          <th
            scope="col"
            [class.active]="order === 'firstName'"
            (click)="onSort('firstName')">
            First Name
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th
            scope="col"
            [class.active]="order === 'lastName'"
            (click)="onSort('lastName')">
            Last Name
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col">Email</th>
          <th scope="col">Contact Number</th>
          <th
            scope="col"
            [class.active]="order === 'gender'"
            (click)="onSort('gender')">
            Gender
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students | filter:search:'email' | orderBy: order:reverse:'case-insensitive'; let i = index;">
          <th scope="row"> {{ i + 1 }} </th>
          <td> {{ student.firstName }} </td>
          <td> {{ student.lastName }} </td>
          <td> {{ student.email }} </td>
          <td> {{ student.contactNum }} </td>
          <td> {{ student.gender }} </td>
          <td> <a role="button" (click)="onDelete(student.id)">
            <i class="bi bi-trash-fill"></i>
          </a> </td>
        </tr>
      </tbody>
    </table>
    <button
      *ngIf="!isLoading"
      type="button"
      class="btn primary-cl"
      (click)="SavePDF()">Download</button>
  </div>
</div>
