<div *ngIf="isLoading" class="text-center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading" class="row">
  <div class="col-12">
    <div class="row rounded">
      <div class="col-12">
        <div class="card flex-sm-row ">
          <img class="card-img-top flex-auto" [src]="currentClass.imageURL" alt="">
          <div class="card-body align-items-start p-3">
            <h5> {{ currentClass.className }} </h5>
            This is a very short description of the course. This is a very short description of the course. This is a very short description of the
            course. It is another description of this course. It is another description of this course. It is another description of this course.
            text here. If you enroll, pay. Here you can find all the important details about his course. Please go through this description. It is
            just a dummy text here. If you enroll, pay. This a very long description of the course, because you are already enrolled to this
            course and congratulation. This a very long description of the course, because you are already enrolled to this course and
            congratulation.
          </div>
        </div>
      </div>
    </div>
    <app-class-tabs></app-class-tabs>
    <router-outlet></router-outlet>
  </div>
</div>
