<h4 class="pb-3">Student Name</h4>
<form>
  <div class="form-row pb-3">
    <div class="col-5">
      <input
        type="text"
        id="firstName"
        name="firstName"
        value="Student's First Name"
        class="form-control">
    </div>
    <div class="col-5">
      <input
        type="text"
        id="lastName"
        name="lastName"
        value="Student's Last Name"
        class="form-control">
    </div>
  </div>
  <div class="form-row pb-3">
    <div class="col-5">
      <fieldset disabled>
        <input type="text" class="form-control" value="studentone@gmail.com">
      </fieldset>
    </div>
    <div class="col-5">
      <input
        type="text"
        id="contactNumber"
        name="contactNumber"
        value="0777123456"
        class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="col-5">
      <input
        type="password"
        id="password"
        name="password"
        value="Salam"
        class="form-control">
    </div>
    <div class="col-5">
      <input
        type="password"
        id="confirmPass"
        name="confirmPass"
        value="Salam"
        class="form-control">
    </div>
  </div>
  <button class="btn primary-cl my-4">Update Profile</button>
</form>
