<div class="row py-3 px-3">
  <h6>Course Outline</h6>
  <p>Here you can find all the informaiton about the course and all the topics which are covered throghout his course.
    you can find all the important details about his course. Please go through this description. It is
    just a dummy text here. If you enroll, pay. This a very long description of the course, because you are already enrolled to this
    you can find all the important details about his course. Please go through this description. It is
    just a dummy text here. If you enroll, pay. This a very long description of the course, because you are already enrolled to this
    course and congratulation.</p>
</div>

<h6 class="text-center py-3">Topics Covered in the Course</h6>
<div class="row px-3 pb-5">
  <div class="col-3 col1">
    <p class="pt-2 text-center">Main Topic One</p>
    <ul class="list-unstyled">
      <li>Sub Topic One</li>
      <li>Sub Topics Two</li>
      <li>Sub Topics Three</li>
      <li>Sub Topics Four</li>
    </ul>
  </div>
  <div class="col-3 col2">
    <p class="pt-2 text-center">Main Topic Two</p>
    <ul class="list-unstyled">
      <li>Sub Topics One</li>
      <li>Sub Topics Two</li>
      <li>Sub Topics Three</li>
      <li>Sub Topics Four</li>
    </ul>
  </div>
  <div class="col-3 col3">
    <p class="pt-2 text-center">Main Topic Three</p>
    <ul class="list-unstyled">
      <li>Sub Topics</li>
      <li>Sub Topics</li>
      <li>Sub Topics</li>
      <li>Sub Topics</li>
    </ul>
  </div>
  <div class="col-3 col4">
    <p class="pt-2 text-center">Main Topic Four</p>
    <ul class="list-unstyled">
      <li>Sub Topics</li>
      <li>Sub Topics</li>
      <li>Sub Topics</li>
      <li>Sub Topics</li>
    </ul>
  </div>
</div>
