<div class="row">
  <div class="col-12">
    <h5 class="text-center py-2">Course Name</h5>
    <h6>About the Course</h6>
    <p>This is a very short description of the course. This is a very short description of the course. This is a very short description of the
      course. It is another description of this course. It is another description of this course. It is another description of this course.
      Here you can find all the important details about his course. Please go through this description. It is just a dummy text here. If
      You enroll, pay. Here you can find all the important details about his course. Please go through this description. It is just a dummy
      text here. If you enroll, pay. Here you can find all the important details about his course. Please go through this description. It is
      just a dummy text here. If you enroll, pay. This a very long description of the course, because you are already enrolled to this
      course and congratulation. This a very long description of the course, because you are already enrolled to this course and
      congratulation. Go through all the materials. This a very long description of the course, because you are already enrolled to this
      course and congratulation. Go through all the materials. Good Luck. This a very long description of the course, because you are
      already enrolled to this course and congratulation. Go through all the materials. Good Luck.
      </p>
      <p class="mb-2"><span class="font-weight-bold">Instructor: </span>Mohammad Aman Ahmadi</p>
      <p><span class="font-weight-bold">Starting Date: </span>April 20, 2021</p>
      <h6 class="text-center pb-2">Topics Covered in the Course</h6>
      <div class="row text-center px-3 pb-3">
        <div class="col-3 col1">
          <p class="pt-2">Main Topic One</p>
          <ul class="list-unstyled">
            <li>Sub Topic One</li>
            <li>Sub Topics Two</li>
            <li>Sub Topics Three</li>
            <li>Sub Topics Four</li>
          </ul>
        </div>
        <div class="col-3 col2">
          <p class="pt-2">Main Topic Two</p>
          <ul class="list-unstyled">
            <li>Sub Topics One</li>
            <li>Sub Topics Two</li>
            <li>Sub Topics Three</li>
            <li>Sub Topics Four</li>
          </ul>
        </div>
        <div class="col-3 col3">
          <p class="pt-2">Main Topic Three</p>
          <ul class="list-unstyled">
            <li>Sub Topics</li>
            <li>Sub Topics</li>
            <li>Sub Topics</li>
            <li>Sub Topics</li>
          </ul>
        </div>
        <div class="col-3 col4">
          <p class="pt-2">Main Topic Four</p>
          <ul class="list-unstyled">
            <li>Sub Topics</li>
            <li>Sub Topics</li>
            <li>Sub Topics</li>
            <li>Sub Topics</li>
          </ul>
        </div>
      </div>
      <h6>Schedule</h6>
      <p>- Saturdays, Mondays, and Wednesdays from 6:00 am to 7:00 am</p>
      <p></p>
  </div>
</div>

<app-class-accordion></app-class-accordion>
