.card {
  border-color: #0170b9;
}

img.card-img-top {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

p {
  margin-bottom: 1px;
}

p.size {
  font-size: 14px;
}

p i {
  color: rgb(204, 5, 5);
}
