<div class="primary-cl rounded shadow-sm">
  <h5 class="text-center py-3">Top Discounts</h5>
</div>
<div *ngIf="isLoading" class="text-center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let class of classes; let i = index; let isFirst = first" [ngClass]="{active : isFirst}">
      <app-class-listing [data]="class"></app-class-listing>
    </div>
  </div>

  <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a> -->

</div>

