<ul class="nav nav-tabs text-center pt-3">
  <li
    role="presentation"
    class="pt-2 rounded"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/home/class-payment"><h6><i class="bi bi-card-list"></i> Overview</h6></a>
  </li>
  <li
    role="presentation"
    class="pt-2 rounded"
    routerLinkActive="active">
    <a routerLink="outline"><h6><i class="bi bi-list-task"></i> Outline</h6></a>
  </li>
  <li
    role="presentation"
    class="pt-2 rounded"
    routerLinkActive="active">
    <a routerLink="schedule-fee"><h6><i class="bi bi-table"></i> Schedule & Fee</h6></a>
  </li>
  <li
    role="presentation"
    class="pt-2 rounded"
    routerLinkActive="active">
    <a routerLink="register"><h6><i class="bi bi-cloud-download-fill"></i> Download Brochure</h6></a>
  </li>
  <li
    role="presentation"
    class="pt-2 rounded"
    routerLinkActive="active">
    <a routerLink="payment"><h6><i class="bi bi-pencil-square"></i> Register</h6></a>
  </li>
</ul>
