<div class="row py-4">
  <div class="col-md-10 offset-md-1">
    <div class="row">
      <div class="col-md-9">
        <h4 class="text-center py-4">Latest Events</h4>
        <app-upcoming-events></app-upcoming-events>
      </div>
      <div class="col-md-3">
        <h4 class="text-center py-4">Quick Links</h4>
        <ul>
          <li>
            <a routerLink="authentication">
              <h6>Don't have an account?</h6><hr class="my-2">
            </a>
          </li>
          <li>
            <a routerLink="classes">
              <h6>Learn more about trainings</h6><hr class="my-2">
            </a>
          </li>
          <li>
            <a target="_blank" href="https://fanoos.af/">
              <h6>About Fanoos Accounting Services</h6><hr class="my-2">
            </a>
          </li>
          <li>
            <a routerLink="authentication">
              <h6>Register</h6><hr class="my-2">
            </a>
          </li>
          <li><a routerLink=""><h6>Contact Us</h6></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
