.primary-cl {
  background: #0170b9;
  color: white;
}

.secondary-cl {
  background: rgb(204, 5, 5);
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

form .btn {
  color: white;
}

@media only screen and (min-width: 768px) {
  form .btn-block {
    width: 130px;
  }
}
