.primary-cl {
  background: #51AFEE;
}

a {
  text-decoration: none;
  color: black;
}

form .btn {
  color: white;
}

@media only screen and (min-width: 768px) {
  form .btn-block {
    width: 130px;
  }
}
