<div class="card shadow-sm">
  <img class="card-img-top flex-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrwPi04BzQH1r7pbGh43tKONxbjFsM3xar3JhBc-Ujyx5Qh_JX1-woLt6j48l3qZDNwKQ&usqp=CAU">
  <div class="card-body px-2 pb-2">
    <h6 class="card-title text-center">Welcome to Fanoos Electronic Course System</h6>
    <p class="text-justify">
      This is the description of classes. This is the description of classes. This is the description of classes.
      This helps users to find a better understanding what is this web app about. From this page you can login or
      register to this website to use our electronic course system.
    </p>
  </div>
</div>
