<div class="text-center pt-4 pb-2">
  <h4>Admins</h4>
</div>
<div class="row pt-3 pb-4">
  <div class="col-12 mx-auto">
    <input
      type="search"
      class="form-control"
      placeholder="Search..."
      aria-label="Search"
      [(ngModel)]="search">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead class="primary-cl">
        <tr>
          <th scope="col">No</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Date Added</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <div *ngIf="isLoading" class="text-center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <tbody>
        <tr *ngFor="let admin of admins; let i = index;">
          <th scope="row"> {{ i + 1 }} </th>
          <td> {{ admin.firstName }} </td>
          <td> {{ admin.lastName }} </td>
          <td> {{ admin.email }} </td>
          <td> {{ admin.dateAdded }} </td>
          <td> <a role="button" (click)="onDelete(admin.id)">
            <i class="bi bi-trash-fill"></i>
          </a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
