<div class="row justify-content-center row-margin">
  <div class="col-xs-12 col-md-5 d-none d-md-block">
    <app-description-auth></app-description-auth>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="text-success bg-light p-3 rounded mx-4">
      <p>Note: This website is currently under development and some of its features will not work.</p>
    </div>
    <div class="row px-3 pt-4 px-md-4">
      <div class="col-xs-12 col-md-12">
        <app-login-signup-tabs></app-login-signup-tabs>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
<div class="row px-4 d-md-none">
  <div class="col-xs-12 col-md-4 pt-4">
    <app-description-auth></app-description-auth>
  </div>
</div>
