<footer class="mainfooter mt-5" role="contentinfo">
  <div class="footer-middle">
    <div class="row mx-0 justify-content-center">
      <div class="col-md-4 col-sm-12 px-3">
        <div class="footer-pad">
          <h5>Fanoos Accounting Services</h5>
          <p>
            We offer a wide range of different accounting and quickbooks classes and trainings. For more information, please
            register and login to our website. If you face difficulty using our web app, you can always reach us at any time.
            We have provided our contact details for easy communication.
          </p>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 px-3">
        <!-- <div class="footer-pad">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li *ngFor="let item of quickLinks; let i = index;">
              <a [routerLink]="item.uRL"> {{ item.title }} </a>
            </li>
          </ul>
        </div> -->
      </div>
      <div class="col-md-3 col-sm-12 px-3">
        <div class="footer-pad">
          <h5>Contact US:</h5>
          <ul class="list-unstyled">
            <li><p class="mt-0 mb-0">Address: Gul Barg Building, Golay-e Dawakhana, Kabul, Afghanistan</p></li>
            <li><p class="mt-0 mb-0">Contact Number: +93798675430</p></li>
            <li><p class="mt-0 mb-0">Email: info@fanoos.af</p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 px-3 text-center">
        <h5>Follow Us</h5>
        <ul class="social-network social-circle">
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="bi bi-linkedin"></i></a></li>
          <li><a href="#" class="icoYouTube" title="YouTube"><i class="bi bi-youtube"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-2 copy">
        <p class="text-center">&copy; Copyright 2021 - Fanoos Electronic Course System.  All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
