<nav class="navbar navbar-dark primary-cl">
  <span class="navbar-brand">
    <a target="_blank" href="https://fanoos.af/">
      <img src="../../../../assets/icons/fanoos.png" height="35" class="d-inline-block align-top" alt="">
    </a>
      <span class="ml-3">Fanoos Training Management System</span>
  </span>
  <div>
    <a *ngIf="!hasRoute('admin') && !isLoading" [routerLink]="['/home', 'profile', student[0].id]"><h5 class="d-inline px-5"> {{ student[0].firstName }}  {{ student[0].lastName }} </h5></a>
    <a *ngIf="hasRoute('home')" routerLink="/" class="mr-3" (click)="onLogout()"><i class="bi bi-box-arrow-right"></i></a>
  </div>
</nav>
