<div class="row py-4">
  <div class="col-12">
    <h4 class="text-center">List of All Classes</h4>
  </div>
</div>
<div class="row pb-3">
  <div class="col-12 mx-auto">
    <input
      type="search"
      class="form-control"
      placeholder="Search Classes..."
      aria-label="Search"
      [(ngModel)]="search">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card flex-sm-row shadow-sm">
      <!-- <div class="image-preview"> -->
        <img class="card-img-top flex-auto" src="../../../../../assets/images/class1.jpg">
      <!-- </div> -->
      <div class="card-body align-items-start">
        <h5 class="pb-2 d-inline-block">Basics of Accounting</h5>
        <small class="mb-2 text-muted float-right"> April 11, 2021 </small>
        <p class="mb-0"><span class="font-weight-bold">Instructor: </span>Mohammad Aman Ahmadi</p>
        <p class="mb-0"><span class="font-weight-bold">Fee: </span>2,500 AFN</p>
        <p><span class="font-weight-bold">Starting Date: </span>May 16, 2021</p>
      </div>
    </div>
  </div>
</div>
