<div class="row py-4">
  <div class="col-12">
    <h4 class="text-center">List of All Classes</h4>
  </div>
</div>
<div class="row pb-3">
  <div class="col-12 mx-auto">
    <input
      type="search"
      class="form-control"
      placeholder="Search Classes..."
      aria-label="Search"
      [(ngModel)]="search">
  </div>
</div>
<div *ngIf="isLoading" class="text-center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="row">
  <div class="col-12" *ngFor="let class of classes; let i = index;">
    <div class="card flex-sm-row shadow-sm mb-2">
      <!-- <div class="image-preview"> -->
        <img class="card-img-top flex-auto" [src]="class.imageURL">
      <!-- </div> -->
      <div class="card-body align-items-start py-3">
        <h5 class="pb-2 d-inline-block"> {{ class.className }} </h5>
        <small class="mb-2 text-muted float-right"> {{ class.dateAdded | date:'mediumDate' }} </small>
        <p class="mb-1"><span class="font-weight-bold">Instructor: </span> {{ class.instructor }} </p>
        <p class="mb-1"><span class="font-weight-bold">Fee: </span> {{ class.fee }} AFN</p>
        <p class="mb-1"><i class="bi bi-calendar-week-fill"></i> {{ class.startDate | date:'mediumDate' }} </p>
        <p class="mb-1"><i class="bi bi-clock-fill"></i> {{ class.startTime}} - {{ class.endTime }} </p>
        <p class="mb-0">
          <span *ngFor="let schedule of class.schedule; let y = index;">
            {{ schedule }}
            <span *ngIf="y != class.schedule.length - 1">,</span>
        </span>
        </p>
      </div>
    </div>
  </div>
</div>
