<div class="row py-5">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <p class="mb-3">
          <span class="font-weight-bold">
            <i class="bi bi-person-fill"></i> Instructor:
          </span>
          Mohammad Aman Ahmadi
        </p>
        <div class="training-fee rounded p-3">
          <h6>Training Fee</h6>
          <h5>2,500 AFN</h5>
        </div>
        <h6 class="pt-3"><i class="bi bi-table"></i> Schedule</h6>
        <ul>
          <li>Saturday</li>
          <li>Monday</li>
          <li>Wednesday</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-5 pb-4">
    <div class="card">
      <div class="card-body">
        <h6>Location & Date</h6>
        <div class="pb-3">
          <p class="inlin-block"><i class="bi bi-table"></i> May 10, 2021</p>
          <button class="btn primary-cl float-right" routerLink="/home/class-payment/payment">Register</button>
          <p><i class="bi bi-flag-fill"></i> English</p>
          <p><i class="bi bi-geo-alt-fill"></i> Fanoos Accounting Services</p>
          <p><i class="bi bi-clock-fill"></i> 6:00 am - 7:00 am</p>
        </div>
        <div>
          <p class="inlin-block"><i class="bi bi-table"></i> May 10, 2021</p>
          <button class="btn primary-cl float-right" routerLink="/home/class-payment/payment">Register</button>
          <p><i class="bi bi-flag-fill"></i> English</p>
          <p><i class="bi bi-geo-alt-fill"></i> Fanoos Accounting Services</p>
          <p><i class="bi bi-clock-fill"></i> 6:00 am - 7:00 am</p>
        </div>
      </div>
    </div>
  </div>
</div>
