<form class="pt-3 pt-md-4">
  <div class="form-group row">
    <label class="col-md-1 col-form-label d-none d-md-block" for="email"><i class="bi bi-envelope-fill"></i></label>
    <div class="col-md-11">
      <input
        class="form-control"
        type="text"
        id="email"
        placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-1 col-form-label d-none d-md-block" for="password"><i class="bi bi-key-fill"></i></label>
    <div class="col-md-11">
      <input
        class="form-control"
        type="password"
        id="password"
        placeholder="Password">
    </div>
  </div>
  <div class="text-center pt-3">
    <button class="btn btn-block shadow-sm primary-cl" type="submit" routerLink="/home">Login</button>
  </div>
</form>
<div class="row pt-4 justify-content-center text-center">
  <div class="col-xs-12">
    <a>Forget Password</a>
    <p>Don't have an account? <a class="font-weight-bold" routerLink="/register">Register</a></p>
  </div>
</div>
