<div class="list-group pt-3">
  <a
    class="list-group-item"
    routerLink="/home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <i class="bi bi-house-door-fill"></i><span class="px-3">Home</span>
  </a>
  <a
    class="list-group-item"
    routerLink="/home/my-classes"
    routerLinkActive="active">
    <i class="bi bi-book-fill"></i><span class="px-3">My Classes</span>
  </a>
  <a
    class="list-group-item"
    routerLink="/home/grades"
    routerLinkActive="active">
    <i class="bi bi-card-checklist"></i><span class="px-3">Grades</span>
  </a>
  <a
    class="list-group-item"
    routerLink="/home/my-certificates"
    routerLinkActive="active">
    <i class="bi bi-journal-check"></i><span class="px-3">Certificates</span>
  </a>
</div>
