<div class="list-group pt-3">
  <a
    class="list-group-item"
    routerLink="/classes"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <i class="bi bi-house-door-fill"></i><span class="px-3">Home</span>
  </a>
  <a
    class="list-group-item"
    routerLink="/classes/my-classes"
    routerLinkActive="active">
    <i class="bi bi-book-fill"></i><span class="px-3">My Classes</span>
  </a>
  <a
    class="list-group-item"
    routerLink="/classes/quizes"
    routerLinkActive="active">
    <i class="bi bi-calendar2-check-fill"></i><span class="px-3">Quizes</span>
  </a>
  <a
    class="list-group-item"
    routerLink="/classes/grades"
    routerLinkActive="active">
    <i class="bi bi-file-earmark-check-fill"></i><span class="px-3">Grades</span>
  </a>
  <a
    class="list-group-item"
    routerLink="/classes/my-certificates"
    routerLinkActive="active">
    <i class="bi bi-credit-card-2-front-fill"></i><span class="px-3">Certificates</span>
  </a>
</div>
